.hero {
  align-items:flex-end;
  display: flex;
  height: 100vh;
  padding: 1em 5em;
  position: relative;
}

.hero::after {
  background: linear-gradient(0deg, rgba(22,24,30,1) 0%, rgba(0, 0, 0, 0.1) 100%);
  position: absolute;
  content: '';
  height: 100vh;
  width: 100%;
  inset: 0;
  z-index: -1;
}

.hero__img {
  inset: 0;
  height: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.hero__text {
  width: 60%;
}

.hero__header {
  font-size: 6.5rem;
  line-height: 1;
  text-transform: uppercase;
}

.hero__date {
  color: var(--textMainLight);
  font-size: 2rem;
  font-weight: 500;
}

.hero__date span {
  color: var(--textMain);
  font-weight: 700;
}

.hero__desc {
  color: var(--textMainLight);
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.hero__action {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.hero__btn {
  background-color: var(--textTertiary);
  border: none;
  border-radius: 2rem;
  color: var(--textMain);
  font-weight: 700;
  padding: 1em 2em;
  transition: all .2s ease-in-out;
}

.hero__btn:hover {
  filter: brightness(1.2);
  transform: scale(1.1);
}

.hero__btn-trailer {
  align-items: center;
  display: flex;
  gap: .4rem;
}

@media (max-width: 950px) {
  .hero {
    padding: 2em;
  }

  .hero__header {
    font-size: 4.5rem;
  }

  .hero__date {
    font-size: 2rem;
  }
}

@media (max-width: 750px) {
  .hero {
    padding: 2em 1em;
  }

  .hero__text {
    width: 100%;
  }

  .hero__header {
    font-size: 3rem;
  }
  
  .hero__date {
    font-size: 1.5rem;
  }
}

@media (max-width: 300px) {

  .hero__date {
    font-size: 1rem;
  }

  .hero__header {
    font-size: 2.5rem;
  }

  .hero__desc {
    font-size: .8rem;
  }

  .hero__action {
    flex-direction: column;
  }
}