.hero {
  align-items:flex-end;
  display: flex;
  height: 100vh;
  padding: 5em;
  position: relative;
}

.hero__img {
  inset: 0;
  height: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.hero__text {
  width: 60%;
}

.hero__header {
  font-size: 6.5rem;
  line-height: 1;
  text-transform: uppercase;
}

.hero__date {
  color: var(--textMainLight);
  font-size: 2rem;
  font-weight: 500;
}

.hero__date span {
  color: var(--textMain);
  font-weight: 700;
}

.hero__desc {
  color: var(--textMainLight);
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.hero__action {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.hero__btn {
  background-color: var(--textTertiary);
  border: none;
  border-radius: 2rem;
  color: var(--textMain);
  font-weight: 700;
  padding: 1em 2em;
  transition: all .2s ease-in-out;
}

.hero__btn:hover {
  filter: brightness(1.2);
  transform: scale(1.1);
}

.hero__btn-trailer {
  align-items: center;
  display: flex;
  gap: .4rem;
}