.hero {
  align-items: center;
  display: flex;
  height: calc(100vh - 4.875rem);
  padding-inline: 5em;
  position: relative;
}

.hero__img {
  inset: 0;
  height: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.hero__text {
  width: 60%;
}

.hero__genres {
  font-size: 1rem;
  font-weight: 500;
}

.hero__header {
  font-size: 4rem;
}

.hero__rating {
  margin-bottom: 2rem;
}

.hero__rating span {
  color: var(--textMainLight);
}

.hero__desc {
  line-height: 1.5;
}