.person {
  padding: 6em 5em;
}

.person__heading {
  align-items: center;
  border-bottom: 2px solid var(--textTertiary);
  display: flex;
  font-size: 1rem;
  gap: 1rem;
  margin-bottom: 2rem;
  padding-bottom: 1em;
  width: 100%;
}

.person__header {
  align-items: center;
  display: flex;
  gap: .5rem;
}

.person__header span {
  color: var(--textMainLight);
  font-size: 1.4rem;
  font-weight: 400;
}

.person__img {
  height: 200px;
  object-fit: cover;
  width: 130px;
}

.person__info {
  color: var(--textMainLight);
  font-size: 1.2rem;
  font-weight: 400;
}

.person__main {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.person__slides h2 {
  margin-bottom: 2rem;
  font-size: 1.6rem;
}

.person__slide {
  text-align: center;
}

.person__slide img {
  margin-bottom: 1rem;
}

.person__slide h4 {
  color: var(--textMainLight);
}