.person {
  margin-inline: auto;
  max-width: 1500px;
  padding: 6em 5em 0 5em;
}

.person__heading {
  align-items: center;
  border-bottom: 2px solid var(--textTertiary);
  display: flex;
  font-size: 1rem;
  gap: 1rem;
  margin-bottom: 2rem;
  padding-bottom: 1em;
  width: 100%;
}

.person__header {
  align-items: center;
  display: flex;
  gap: .5rem;
}

.person__header span {
  color: var(--textMainLight);
  font-size: 1.4rem;
  font-weight: 400;
}

.person__img {
  height: 200px;
  object-fit: cover;
  width: 130px;
}

.person__info {
  color: var(--textMainLight);
  font-size: 1.2rem;
  font-weight: 400;
}

.person__main {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.person__slides h2 {
  margin-bottom: 2rem;
  font-size: 1.6rem;
}
.person__slides {
  margin-bottom: 2rem;

}
.person__slide {
  text-align: center;
}

.person__slide img {
  margin-bottom: 1rem;
}

.person__slide h4 {
  color: var(--textMainLight);
}

@media (max-width: 950px) {
  .person {
    padding: 12em 1em 4em 1em;
  }

  .person__header {
    align-items: flex-start;
    flex-direction: column;
    gap: .2rem;
    margin-bottom: 1rem;
  }

}

@media (max-width: 650px) {

  .person__heading {
    flex-direction: column;
  }

  .person__header {
    font-size: 1.3rem;
  }

  .person__info {
    font-size: 1rem;
  }

  .person__header span {
    font-size: 1.1rem;
  }
}