.characters {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, 190px);
  justify-content: center;
  margin-inline: auto;
  max-width: 1500px;
  padding: 2em 0;
}

.characters__person {
  transition: transform .3s ease-in-out;
}

.characters__person:hover {
  transform: translateY(-10px);
}

.characters__img {
  object-fit: cover;
  width: 190px;
  height: 250px;
}

.characters__text {
  padding: 1em;
  text-align: center;
}

.characters__name {
  font-size: 1rem;
  margin-bottom: .5rem;
}

.characters__character span {
  font-weight: 400;
}