.seasons {
  display: grid;
  gap: 2rem;
  margin-inline: auto;
  max-width: 1500px;
  padding: 2em 0;
}

.season {
  align-items: flex-start;
  display: flex;
  gap: 2rem;
}

.season__info {
  background-color: var(--tertiary);
  width: 100%;
  padding: 1em;
}

.season__img {
  width: 150px;
  object-fit: cover;
}

.season__header {
  font-size: 1.3rem;
  margin-bottom: .2rem;
}

.season__header span {
  color: var(--textMainLight);
  font-size: 1.1rem;
  font-weight: 500;
}

.season__episodes {
  color: var(--textMainLight);
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: .5rem;
}

@media (max-width: 650px) {
  .seasons {
    gap: 4rem;
  }

  .season {
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
}