.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  margin-inline: auto;
  max-width: 1500px;
  position: absolute;
  right: 0;
  width: 100%;
  padding: 1em 5em;
  z-index: 2;
}

.nav__list {
  align-items: center;
  display: flex;
  gap: 2rem;
}

.nav__item {
  color: var(--textMain);
  font-size: 1rem;
}

.nav__search {
  align-items: center;
  display: flex;
  width: 40%;
}

.nav__search svg {
  margin-left: -2rem;
}

.nav__input {
  background-color: rgba(0, 0, 0, .3);
  border: 1px solid var(--main);
  border-radius: 1rem;
  padding: .5em 1em;
  width: 100%;
}

.nav__input:focus {
  outline: 1px solid var(--main);
  background-color: rgba(0, 0, 0, .5);
}

.nav .active {
  border-bottom: 2px solid var(--textTertiary);
}

@media (max-width: 950px) {
  .nav {
    flex-direction: column;
    gap: 1rem;
    padding: 1em;
  }

  .nav__search {
    width: 100%;
  }
}