.nav {
  align-items: center;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  justify-content: space-between;
  padding: 1em 5em;
  z-index: 2;
}

.nav__list {
  align-items: center;
  display: flex;
  gap: 2rem;
}

.nav__search {
  align-items: center;
  display: flex;
  width: 40%;
}

.nav__search svg {
  margin-left: -2rem;
}

.nav__input {
  background-color: transparent;
  border: 1px solid var(--main);
  padding: .5em 1em;
  width: 100%;
}

.nav__input:focus {
  outline: none;
}

