.nav {
  align-items: center;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  justify-content: space-between;
  padding: 1em 5em;
  z-index: 2;
}

.nav__list {
  align-items: center;
  display: flex;
  gap: 2rem;
}

.nav__search {
  align-items: center;
  display: flex;
  width: 40%;
}

.nav__search svg {
  margin-left: -2rem;
}

.nav__input {
  background-color: rgba(0, 0, 0, .3);
  border: 1px solid var(--main);
  border-radius: 1rem;
  padding: .5em 1em;
  width: 100%;
}

.nav__input:focus {
  outline: 1px solid var(--main);
  background-color: rgba(0, 0, 0, .5);
}

.nav .active {
  border-bottom: 2px solid var(--textTertiary);
}

